<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Safety Manual Creator</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>

      <div class="vertical_spacer">
        <div class="center_parent">
          <div class="center_child">
            <h1>Safety Manual Creator</h1>  
          </div>
        </div>

        <div class="horizontal_aligner center_parent"> 

          <div class="center_child" id="btn_container_left">
            <button class="btn">
              Create Safety Manual
            </button>
          </div>

          <div class="center_child" id="btn_container_right">
            <button class="btn">
              Create Safety Program
            </button>
          </div>

        </div>

        <div class="horizontal_aligner center_parent">
          
          <div class="center_child" id="form_container_left">
            <form id="form" role="search">
              <input type="search" id="query" name="q"
              placeholder="Search..."
              aria-label="Search through site content">
              <button class="search_btn">
                <svg viewBox="0 0 1024 1024">
                  <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
                </svg>
              </button>
            </form>
          </div>

          <div class="center_child" id="form_container_right">
            <form id="form" role="search">
              <input type="search" id="query" name="q"
              placeholder="Search..."
              aria-label="Search through site content">
              <button class="search_btn">
                <svg viewBox="0 0 1024 1024">
                  <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
                </svg>
              </button>
            </form>
          </div>
          
        </div>

      </div>

    </main>
  </body>
</html>