<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Safety Manual Creator</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>

      <div class="vertical_spacer">
        <div class="center_parent">
          <div class="center_child">
            <h1>Safety Manual Creator</h1>  
          </div>
        </div>

        <div class="center_parent">
          <div class="btn_parent"> 
            <div class="center_child" id="btn_container_left">
              <button class="btn">
                Create Safety Manual
              </button>
            </div>

            <div class="center_child" id="btn_container_right">
              <button class="btn">
                Create Safety Program
              </button>
            </div>
          </div>
        </div>  
      </div>

    </main>
  </body>
</html>